@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

@media screen and (min-width: 450px) {

    .body-content-1,
    .main-content,
    .body-text-3,
    .body-text-4,
    .endpage,
    .sec-description {
        padding: 0 25%;
    }

    .body-text-1 p {
        max-width: 75% !important;
    }

    .uiui123 {
        max-width: 22vw;
    }

    .body-text-2 {
        display: flex;
        margin-left: 15%;
    }

    .body-text-2 p,
    .body-text-2 h3 {
        text-align: left;
    }

    .body-text-2 img {
        max-width: 40%;
    }

    .body-text-4 {
        margin-top: 0vh;
    }

    .sec-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 !important;
    }

    .sec-description p {
        max-width: 300px;
    }

    .logos {
        padding: 5rem 0;
        margin-top: 8vh !important;
        margin-bottom: 12vh !important;
    }

    .logos-img {
        flex-direction: row !important;
        margin: 0 22vw;
    }

    .imgs {
        height: auto !important;
        width: 10% !important;
        aspect-ratio: 3/2;
        object-fit: contain;
    }

    .footer {
        display: flex;
        flex-wrap: wrap !important;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        min-height: 10vh;
    }

    .footer-img {
        width: 70px;
        margin: 0 !important;
    }

    .footer-img img {
        margin-top: 0px !important;
    }
    .footer .list{
        position: absolute;
        margin: auto !important;    
    }

    .footer .list  ul{
        display: flex !important;
        flex-wrap: wrap;
    }
    .footer .list ul li{
        margin-left: 2rem !important;
        transform: translateY(100%)
    }

    .footer .list-icon {
        display: inline-block !important;
        padding-bottom: 0 !important;
        margin: 0 !important;
    }
    .footer .list-icon img{
        margin-left: 2rem !important;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    text-decoration: none;
}
a{
    color: inherit;
    transition: .1s alls;
}
a:hover{
    color:hsl(171, 66%, 44%)
}

p {
    color: hsl(201, 11%, 66%);
}

h1,
h2,
h3 {
    color: hsl(210, 10%, 33%);
}


section {
    margin-bottom: 10vh;
}

.main-content .logo {
    text-align: center;
    padding: 60px;
    padding-top: 150px;
}

.main-content .main-title {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    font-size: 32px;
}

.main-content p {
    text-align: center;
    max-width: 90%;
    margin: 3vh auto;
}



button {
    padding: .6rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    max-width: 400px;
    margin: 0 auto;
}


.btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 2vh 15%;
    gap: 1.1rem;
    justify-content: space-around;
}

.btn-ios {
    background-color: hsl(171, 66%, 44%);
    color: white;
}

.btn-mac {
    background-color: hsl(233, 100%, 69%);
    color: white;
}

button:hover {
    opacity: .8;
}

.body-content-1 {
    margin-top: 15vh;
}

.body-text-1 h2 {
    text-align: center;
    max-width: 90%;
    margin: 3vh auto;
    font-size: 28px;
}

.body-text-1 p {
    text-align: center;
    max-width: 90%;
    margin: 3vh auto;
}

img {
    max-width: 80%;
}

.body-text-2 {
    text-align: center;
}

.body-text-2 div {
    margin: 5vh 5%;
}

.body-text-3 {
    text-align: center;
    margin: 5vh 2%;
}

.body-text-3 h2 {
    font-size: 28px;
    margin-bottom: 2vh;
}

.body-text-3 p {
    margin-bottom: 6vh;
}

.body-text-4 {
    text-align: center;
}

.body-text-4 h2 {
    font-size: 30px;
    margin-top: 15vh;
    margin-bottom: 2vh;
}

.sec-description {
    text-align: center;
    margin: 1vh 3%;
}

.sec-description h3 {
    font-size: 22px;
    margin: 2vh auto;
}

.sec-description p {
    font-size: 14px;
}

.sec-description div {
    margin: 6vh auto;
}

.logos {
    margin-top: 15vh;
    margin-bottom: 20vh;
}

.logos-img {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    text-align: center;
}

.logos-img img {
    margin: 0 auto;
    width: 40%;
    max-width: 130px;
}

.endpage {
    text-align: center;
    margin: 3vh auto;
}

.endpage h2 {
    font-size: 28px;
    margin: 2vh auto;
}

.endpage p {
    margin-bottom: 6vh;
    max-width: 85%;
}

.footer {
    margin-top: 25vh;
    text-align: center;
    margin-bottom: 0;
    background-color: #eee;
}

.footer-img {
    width: 70px;
    margin: auto;
}

.footer-img img {
    margin-top: 40px;
}

.footer .list li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 2rem;
}

.footer div {
    margin: 6vh auto;
}

.footer .list-icon {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
    margin: 0 30%;
}